@import "partials/variables";
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,700");
body {
    padding: 0;
    margin: 0;
    font-family: $defaultFont;
    color: $darkColor;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --time: '12:10';
}

.display-none {
    display: inline
}

// loading page.
.out {
    transform: translateY(-100%);
}

#loader-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: $grayColor;
    transition: $cubicBezier;
}

.load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    hr {
        border: 0;
        margin: 0;
        width: 40%;
        height: 40%;
        position: absolute;
        border-radius: 50%;
        animation: spin 2s ease infinite;
        &:first-child {
            background: $yellowColor;
            animation-delay: -1.5s;
        }
        &:nth-child(2) {
            background: $aquaColor;
            animation-delay: -1s;
        }
        &:nth-child(3) {
            background: $blueColor;
            animation-delay: -0.5s;
        }
        &:last-child {
            background: $violetColor;
        }
    }
}

@keyframes spin {
    0%,
    100% {
        transform: translate(0);
    }
    25% {
        transform: translate(160%);
    }
    50% {
        transform: translate(160%, 160%);
    }
    75% {
        transform: translate(0, 160%);
    }
}

//hamburger.
.display-hamburger {
    display: none;
    @media screen and (max-width: 900px) {
        display: block;
    }
}

#nav-icon2 {
    position: absolute;
    top: 2em;
    right: 2em;
    z-index: 900;
    width: 45px;
    height: 60px;
    cursor: pointer;
    span {
        display: block;
        position: absolute;
        height: 5px;
        width: 50%;
        background-color: $darkColor;
        opacity: 1;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        border-radius: 1em;
        &:nth-child(even) {
            left: 50%;
            border-radius: 0 9px 9px 0;
        }
        &:nth-child(odd) {
            left: 0px;
            border-radius: 9px 0 0 9px;
        }
        &:nth-child(1) {
            top: 0px;
        }
        &:nth-child(2) {
            top: 0px;
        }
        &:nth-child(3) {
            top: 12px;
        }
        &:nth-child(4) {
            top: 12px;
        }
        &:nth-child(5) {
            top: 24px;
        }
        &:nth-child(6) {
            top: 24px;
        }
    }
}

#nav-icon2.open span {
    &:nth-child(1) {
        transform: rotate(45deg);
    }
    &:nth-child(6) {
        transform: rotate(45deg);
    }
    &:nth-child(2) {
        transform: rotate(-45deg);
    }
    &:nth-child(5) {
        transform: rotate(-45deg);
    }
    &:nth-child(1) {
        left: 4px;
        top: 5px;
    }
    &:nth-child(2) {
        left: calc(50% - 4px);
        top: 5px;
    }
    &:nth-child(3) {
        left: -50%;
        opacity: 0;
    }
    &:nth-child(4) {
        left: 100%;
        opacity: 0;
    }
    &:nth-child(5) {
        left: 4px;
        top: 20px;
    }
    &:nth-child(6) {
        left: calc(50% - 4px);
        top: 20px;
    }
}

// NAVIGATION.
.nav {
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center; // padding: 0 8em;
    .container-nav {
        width: 1100px;
        display: flex;
        flex-direction: row; // text-align: space-between; 
        justify-content: space-between;
        @media screen and (max-width: 1175px) {
            padding: 0 50px;
        }
        @media screen and (max-width: 525px) {
            flex-direction: column;
        }
    }
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 525px) {
            width: 100%;
            justify-content: space-between;
        }
        img {
            width: 32px;
        }
        &--padding {
            // padding-top: 12px;
        }
    }
    &__list {
        @media screen and (max-width: 525px) {
            display: none;
            position: absolute;
            top: 75px;
            z-index: 10000;
            width: 100%;
            background-color: rgb(250, 250, 250);
            left: 0;
            padding-left: 50px;
            border-bottom: 1px solid #dddddd;
            border-top: 1px solid #dddddd;
        }
        &--active {
            display: flex;
        }
        ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            justify-content: center; // align-items: center;
            @media screen and (max-width: 525px) {
                align-items: flex-start;
                flex-direction: column;
                background-color: rgb(250, 250, 250);
            }
            li {
                // padding: 10px 0;
                position: relative;
                @media screen and (max-width: 525px) {
                    padding: .5em 0;
                    background-color: rgb(250, 250, 250);
                }
                .drop-down {
                    display: none;
                    a {
                        font-weight: 300;
                        font-size: 1rem;
                        text-transform: capitalize;
                        color: $darkColor;
                    }
                }
                &:hover {
                    .drop-down {
                        display: flex; // top: 0;
                        z-index: 10000;
                        position: absolute; // change to static!!!!!
                        @media screen and (max-width: 525px) {
                            position: static;
                            background-color: rgb(250, 250, 250);
                        }
                        flex-direction: column;
                        width: 150px; // background-color: $grayColor;
                        padding: .6em .4em .2em .4em;
                        background-color: $whiteColor;
                        li {
                            display: block;
                            padding: .4em;
                            color: gray;
                            background-color: $whiteColor;
                            @media screen and (max-width: 525px) {
                                background-color: rgb(250, 250, 250);
                            }
                            &:hover {
                                color: $darkColor;
                                cursor: pointer;
                            }
                        }
                    }
                }
                a {
                    margin: 0 1em 0 0;
                    text-decoration: none;
                    color: $darkColor;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    font-weight: 200;
                    position: relative;
                    transition: $cubicBezier;
                    &::before {
                        transition: $cubicBezier;
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0;
                        height: 3px;
                        background-color: $aquaColor;
                    }
                    &:hover {
                        &::before {
                            width: 100%;
                            left: 100;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
    &__hamburger {
        display: none;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 525px) {
            display: flex;
        }
        img {
            width: 40px;
            height: 35px;
            cursor: pointer;
        }
    }
}

// CONTENT.
.container {
    width: 1100px;
    text-align: center;
}

.content {
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    .container__content {
        margin: 0 30px;
    }
    &__header {
        min-height: calc(100vh - 80px);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        h1 {
            font-size: 3rem;
            font-weight: 300;
            margin-bottom: 0.5em; // white-space: nowrap;
            margin: .1em;
            span {
                font-style: italic;
                position: relative;
                transition: $cubicBezierTitle;
                white-space: nowrap;
                &::before {
                    transition: $cubicBezierTitle;
                    content: "";
                    bottom: 6px;
                    left: -5px;
                    position: absolute;
                    background-color: $aquaColor;
                    width: 105%;
                    height: 8px;
                    z-index: -10;
                    opacity: 0.7;
                }
                &:hover {
                    &::before {
                        height: 100%;
                        bottom: 0;
                    }
                    color:$whiteColor;
                }
            }
        }
        h3 {
            font-weight: 200; // text-transform: capitalize;
            margin-top: 1em;
        }
    }
    &__timeline {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        grid-gap: 3em;
        padding: 8em 0;
        margin-bottom: 9em;
        @media screen and (max-width: 574px) {
            grid-template-columns: 1fr;
        }
        &--link {
            text-decoration: none;
            min-width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .timeline__item {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: red;
            height: 450px;
            position: relative;
            transition: $cubicBezierFaster;
            &:hover::before {
                background-color: rgba($color: $darkColor, $alpha: .7);
                z-index: 100;
            }
            &:hover .hide {
                z-index: 1000;
                transition: $cubicBezierFaster;
                display: block;
                color: $whiteColor;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &::before {
                transition: $cubicBezierFaster;
                content: "";
                background-color: rgba($color: $darkColor, $alpha: 0);
                width: 100%;
                height: 100%;
                position: absolute;
            }
            .hide {
                transition: $cubicBezierFaster;
                width: 75%;
                font-size: 1.4rem;
                display: none;
                font-weight: 300;
            }
            &:nth-child(odd) {
                margin-top: 8em;
                margin-bottom: -8em;
                @media screen and (max-width: 1124px) {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
            &--position {
                background-repeat: no-repeat;
                background-size: cover;
            }
            &:nth-child(1) {
                // pizza
                background-image: url(/static/portfolio5.png);
                background-position: 10% 20%;
            }
            &:nth-child(2) {
                // simply
                background-image: url(/static/portfolio6.png);
                background-position: 50% 20%;
            }
            &:nth-child(3) {
                // uixrex
                background-image: url(/static/portfolio10.png);
                background-position: 40% 20%;
            }
            &:nth-child(4) {
                //meetup
                background-image: url(/static/portfolio9.png);
                background-position: 50% 20%;
            }
            &:nth-child(5) {
                //fudi
                background-image: url(/static/portfolio11.png);
                background-position: 50% 45%;
            }
            &:nth-child(6) {
                // photography
                background-image: url(/static/portfolio2.png);
                background-position: 70% 100%;
            }
            &:nth-child(7) {
                // shultz
                background-image: url(/static/portfolio8.png);
                background-position: 70% 30%;
            }
            &:nth-child(8) {
                // forms
                background-image: url(/static/portfolio12.png);
                background-position: 50% 50%;
            }
        }
    }
}

// FOOTER.
.footer {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $grayColor;
    &__socials {
        display: flex;
        &:hover a {
            opacity: 0.5;
        }
        .socials__icon {
            padding: 1em;
            color: $darkColor;
            a {
                transition: cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s;
                color: $darkColor;
                &:hover {
                    color: $darkColor;
                    opacity: 1;
                }
                svg {
                    cursor: pointer;
                }
            }
        }
    }
    &__name {
        h2 {
            font-weight: 300;
            font-size: 1.2rem;
        }
    }
}

// CONTACT.
.contact {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 600px;
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__header {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        text-align: left;
        max-width: 800px;
        width: 100%;
        position: relative;
        z-index: 100;
        padding: 0 40px;
        h2 {
            font-size: 3rem;
            margin: 0;
            @media screen and (max-width: 700px) {
                font-size: 2.7rem;
            }
        }
    }
    &__time {
        top: -106%;
        left: 50px;
        position: absolute;
        font-size: 11rem;
        color: rgb(228, 228, 228);
        z-index: -10;
        font-weight: bold;
        @media screen and (max-width: 700px) {
            top: -122%;
        }
        @media screen and (max-width: 497px) {
            top: -53%;
            font-size: 8rem;
            left: 35px;
        }
        @media screen and (max-width: 381px) {
            top: -31%;
            font-size: 6.9rem;
            left: 35px;
        }
    }
    &__desc {
        max-width: 800px;
        width: 100%;
        text-align: left;
        padding: 0 40px;
        p {
            font-size: 1.2em;
            font-weight: 300;
        }
        .email {
            color: $violetColor;
            font-weight: 500;
        }
    }
}

// ABOUT ME.
.aboutme {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 600px;
    padding: 4em 0;
    &__photo {
        background-image: url(/static/me.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 70% 90%;
        width: 100%;
        height: 500px;
        margin-bottom: 3em;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 50px;
    }
    .article {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 1em 1em;
        min-height: 200px;
        @media screen and (max-width: 700px) {
            grid-template-columns: 1fr;
        }
        &__title {
            p {
                padding: .7em 0;
            }
            width: 100%;
            height: 60px;
            border-bottom: 2px solid $grayDarkColor;
            display: flex;
            justify-content: flex-start;
        }
        &__description {
            // display: flex;
            // flex-direction: column;
            // justify-content: flex-start;
            text-align: left;
            font-weight: 300;
            p {
                line-height: 1.4em;
                font-size: 1.2rem;
                a {
                    text-decoration: none;
                    color: $blueColor;
                }
            }
            h2 {
                font-weight: 500;
            }
        }
    }
}

// === PORTFOLIO ===
.portfolio {
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    .container--portfolio {
        padding: 0 40px;
    }
    &__image {
        width: 100%;
        min-height: 600px;
        background-image: url(/static/pizza.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        margin: 2em 0;
        &--pizza {
            background-image: url(/static/pizza.png);
        }
        &--agencja {
            background-image: url(/static/agencja.png);
        }
        &--meetup {
            background-image: url(/static/meetup.png);
        }
        &--uixrex {
            background-image: url(/static/uixrex.png);
        }
        &--photo {
            background-image: url(/static/photo.png);
        }
        &--food {
            background-image: url(/static/food.png);
        }
        &--forms {
            background-image: url(/static/forms.png);
        }
        &--schulz {
            background-image: url(/static/schulz.png);
        }
    }
    &__description {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 1em 1em;
        min-height: 340px;
        @media screen and (max-width: 680px) {
            grid-template-columns: 1fr;
        }
        &--general {
            padding: .5em;
            text-align: justify;
            h1 {
                font-weight: 300;
                font-size: 2rem;
            }
            p {
                font-weight: 300;
                line-height: 1.5em;
                font-size: 1.2rem;
            }
        }
        &--tech {
            padding: .5em;
            text-align: right;
            @media screen and (max-width: 680px) {
                text-align: left;
                margin-bottom: 30px;
            }
            h1 {
                font-weight: 300;
                font-size: 2rem;
            }
            p {
                font-weight: 300;
                line-height: 1.5em;
                font-size: 1.2rem;
            }
        }
        &--button {
            width: 170px;
            height: 50px;
            background-color: transparent;
            color: $aquaColor;
            font-size: 1.3rem;
            border: 2px solid $aquaColor;
            transition: $cubicBezier;
            cursor: pointer;
            outline: none;
            &:hover {
                background-color: $aquaColor;
                color: #fff;
            }
        }
    }
}