// https://coolors.co/efeeee-57467b-7cb4b8-70f8ba-cafe48

//COLORS
$whiteColor: #efefef;
$violetColor: #57467b;
$blueColor: #7cb4b8;
$aquaColor: #70f8ba;
$yellowColor: #cafe48;
$darkColor: #1d1d1d;

//FONTS
$defaultFont: "Roboto Condensed", sans-serif;
